/*
 * csc 337
 * Example CSS
 *
 * Divs:
 * body
 * mainContainer
 * header
 * footer
 * main
 * 
 *
*/


html, body, div, span,
h2, h3, h4, h5, h6, 
em, img, strong,
ol, ul,
table, tr, th, td,
form {
  margin: 0;
  padding: 0px;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  text-align: left;
  
}
a {
  margin: 0;
  padding: 2px;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  text-align: left;
}

canvas { 
  border: 1px solid black; 
  padding: 0;
  background-color: #9F9F9F;
  border: 3px solid #7e7e7e;
  color: #757575;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
}

li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  text-align: left;
}
h1 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  text-align: left;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input, button{
  overflow: visible;
}
html {
  overflow: auto;
}
html, body {
  height: 100%;
  min-height: 100%;
}
body {
  font: normal 12px 'Segoe UI', Tahoma, Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.2;
  color: #1e2022;
  text-align: center;
  background: #eeeeee;
}
p {
  padding: 0 0 0;
  margin-top: 15px;
  
}
ul {
  
  padding: 0 0 0 10px;
}
li {
  padding: 0 0 10px;
}
a {
  text-decoration: none;
  color: #005ace;
}
a:hover {
  text-decoration: underline;
  color: #39f;
}

#hybrid {
  padding:4px;
  border:3px solid #c5bebe;
  
}

#text{
  background-color: white;
  width: 80%;
  padding: 20px;
  border: 3px solid #7e7e7e;
  color: #757575;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
}

.clear { display: inline-block; }
.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .clear { height: 1%; }
.clear { display: block; }
.none,
.hidden {
  display: none;
}
.page {
  position: relative;
  width: 100%;
  min-width: 750px;
  min-height: 100%;
}
* html .page {
  height: 100%;
}

#mainContainer {
	background-color:#eee;
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
	min-height: 400px;
}

#header {
	background-color: #ddd;
	padding: 20px;
    border: 3px solid #bbb;
	color: #757575;
	margin: 0 auto;
	display: block;
	margin-top: 10px;
	height: 23px;
	max-width: 1000px;
	width: 90%;
	
}

#footer {
	background-color: #ddd;
	padding: 20px;
    border: 3px solid #bbb;
	color: #757575;
	margin: 0 auto;
	display: block;
	margin-top: 10px;
	height: 23px;
	max-width: 1000px;
	width: 90%;
}

#main {
  background-color: white;
  padding: 20px;
  border: 3px solid #7e7e7e;
  color: #757575;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  height: 100%;
}
